.sidebar {
    width: 20%;
    height: 100vh;
    background-color: rgb(243, 234, 234);
}

.sidebar--header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new--note {
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #4A4E74;
    height: 30px;
    width: 30px;
    color: white;
}

.text-snippet {
    color: white;
    background-color: #4A4E74;
}